include:
  - docker-compose-postgres.yaml
services:
  app:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    depends_on:
      - postgres
    environment:
      - DB_URL=jdbc:postgresql://postgres:5432/deviceapi
      - DB_USERNAME=username
      - DB_PASSWORD=password
    ports:
      - 8080:8080
